<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<p>paciente-agregar works!</p>

<div class="col-md-5">
  <div class="card-body">
    <div class="container">
      Nombre <input  [(ngModel)]="paciente.nombre">
      <br><br/>
      Apellido <input  [(ngModel)]="paciente.apellido">
      <br><br/>
      E-mail <input  [(ngModel)]="paciente.email">
      <br><br/>
      Telefono <input  [(ngModel)]="paciente.telefono">
      <br><br/>
      RUC <input  [(ngModel)]="paciente.ruc">
      <br><br/>
      Cedula <input  [(ngModel)]="paciente.cedula">
      <br><br/>
      Tipo <input  [(ngModel)]="paciente.tipoPersona">
      <br><br/>
      Fecha de Nacimiento <input type="date"  [(ngModel)]="paciente.fechaNacimiento">
      <br><br/><br/>
      <button  (click)="guardar()" class="btn btn-primary">Guardar</button>
      <br/>
    </div>
    {{mensaje}}
  </div>
</div>
