<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<p>sub-categoria-agregar works!</p>

<div class="col-md-5">
  <div class="card-body">
    <div class="container">
      <p>Descripcion <input  [(ngModel)]="subcategoria.descripcion"></p>
      <p>Categoria <input  [(ngModel)]="subcategoria.idCategoria.idCategoria"></p>
      <button  (click)="guardar()" class="btn btn-primary">Guardar</button>
      <br/><br/><br/>
    </div>
    {{mensaje}}
  </div>
</div>
