<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">TP1</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categoria</a>
        <div class="dropdown-menu dropdown-content">
          <a class="dropdown-item" routerLink="/categoria">Lista de Categorias</a>
          <a class="dropdown-item" routerLink="/nuevacategoria">Agregar Categoria</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sub-Categoria</a>
        <div class="dropdown-menu dropdown-content">
          <a routerLink="/sub-categoria" class="dropdown-item">Lista de sub categorias</a>
          <a routerLink="/nuevasub-categoria" class="dropdown-item">Agregar sub Categoria</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pacientes</a>
        <div class="dropdown-menu dropdown-content">
          <a routerLink="/paciente" class="dropdown-item">Lista de sub categorias</a>
          <a routerLink="/nuevopaciente" class="dropdown-item">Agregar sub Categoria</a>
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Ingrese su usuario">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Ingresar</button>
    </form>
  </div>
</nav>



<div style="text-align:center">

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
</body>
