<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">TP1</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categoría</a>
        <div class="dropdown-menu dropdown-content">
          <a class="dropdown-item" routerLink="/categoria">Lista de Categorías</a>
          <a class="dropdown-item" routerLink="/nuevacategoria">Agregar Categoría</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sub-Categoría</a>
        <div class="dropdown-menu dropdown-content">
          <a routerLink="/sub-categoria" class="dropdown-item">Lista de sub categorías</a>
          <a routerLink="/nuevasub-categoria" class="dropdown-item">Agregar sub Categoría</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Presentación</a>
        <div class="dropdown-menu dropdown-content">
          <a routerLink="/presentacion" class="dropdown-item">Lista de presentaciones</a>
          <a routerLink="/nuevapresentacion" class="dropdown-item">Agregar presentación</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Paciente</a>
        <div class="dropdown-menu dropdown-content">
          <a routerLink="/paciente" class="dropdown-item">Lista de pacientes</a>
          <a routerLink="/nuevopaciente" class="dropdown-item">Agregar paciente</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Agenda</a>
        <div class="dropdown-menu dropdown-content">
          <a routerLink="/agenda" class="dropdown-item">Lista de agendas</a>
          <a routerLink="/nuevaagenda" class="dropdown-item">Agregar agenda</a>
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Ingrese su usuario">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Ingresar</button>
    </form>
  </div>
</nav>



<div style="text-align:center">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>
