<br/><br/>
<div class="container col-md-5 offset-md-3 card">
  <br><h3 class="text-center">Registro de Presentación Producto</h3><br>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Codigo" [(ngModel)]="presentacion.codigo">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Flag Servicio" [(ngModel)]="presentacion.flagServicio">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Id Producto" [(ngModel)]="presentacion.idProducto.idProducto">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Nombre" [(ngModel)]="presentacion.nombre">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Precio" [(ngModel)]="presentacion.existenciaProducto.precioVenta">
  </div>
  <button class="btn btn-primary form-control" (click)="guardar()">Guardar</button>
  <br/><br/>{{mensaje}}<br/><br/>
</div>

