<br/><br/>
<div class="container col-md-5 offset-md-3 card">
  <br/><h3 class="text-center card-title">Registro de Horario Agenda</h3><br/>
  <div class="form-group">
    <p class="text-left">Dia
      <select name="dia" [(ngModel)]="agenda.dia">
        <option value="0" selected>Domingo</option>
        <option value="1">Lunes</option>
        <option value="2">Martes</option>
        <option value="3">Miercoles</option>
        <option value="4">Jueves</option>
        <option value="5">Viernes</option>
        <option value="6">Sabado</option>
      </select>
    </p>
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Hora Apertura" [(ngModel)]="agenda.horaAperturaCadena">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Hora Cierre" [(ngModel)]="agenda.horaCierreCadena">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Intervalo" [(ngModel)]="agenda.intervaloMinutos">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Empleado" [(ngModel)]="agenda.idEmpleado.idPersona">
  </div>
  <button  (click)="guardar()" class="btn btn-primary">Guardar</button>
  <br/><br/>{{mensaje}}<br/><br/>
</div>

