<br/><h3 class="text-center card-title">Listado de Sub-categorías</h3><br/>
<div *ngIf="subCategorias.length>0">
  <div class="container">
    <table border="1" class="table table-bordered table-hover">
      <thead class="thead-dark text-center">
        <tr>
          <th>Id</th>
          <th>Descripcion</th>
          <th>Categoria</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of subCategorias">
          <td>{{p.idTipoProducto}}</td>
          <td>{{p.descripcion}}</td>
          <td>{{p.idCategoria.descripcion}}</td>
          <td><a routerLink="/modificarsubcategoria/{{p.idTipoProducto}}" class="btn btn-primary">Editar</a></td>
          <td><button (click)="deleteItem(p.idTipoProducto)" class="btn btn-primary">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
