<br/><br/>
<div class="container col-md-5 offset-md-3 card">
  <br><h3 class="text-center">Modificar Paciente</h3><br>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Nombre" [(ngModel)]="paciente.nombre">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Apellido" [(ngModel)]="paciente.apellido">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese E-mail" [(ngModel)]="paciente.email">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Telefono" [(ngModel)]="paciente.telefono">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese RUC" [(ngModel)]="paciente.ruc">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Cédula" [(ngModel)]="paciente.cedula">
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Ingrese Tipo" [(ngModel)]="paciente.tipoPersona">
  </div>
  <div class="form-group">
    <input type="date" class="form-control" placeholder="Ingrese Fecha de Nacimiento" [(ngModel)]="paciente.fechaNacimiento">
  </div>
  <button class="btn btn-primary form-control" (click)="guardar()">Guardar</button>
  <br/><br/>{{mensaje}}<br/><br/>
</div>
