<br/><a routerLink="/nuevacategoria" class="btn btn-primary my-2 my-sm-0">Agregar Categoría</a><br/>
<br/><h3 class="text-center card-title">Listado de Categorías</h3><br/>
<div *ngIf="categorias.length>0">
  <div class="container">
    <table border="1" class="table table-bordered table-hover">
      <thead class="thead-dark text-center">
        <tr>
          <th>Id</th>
          <th>Descripcion</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of categorias">
          <td>{{p.idCategoria}}</td>
          <td>{{p.descripcion}}</td>
          <td><a routerLink="/modificarcategoria/{{p.idCategoria}}" class="btn btn-primary">Editar</a></td>
          <td><button (click)="deleteItem(p.idCategoria)" class="btn btn-primary">Eliminar</button></td>
      </tr>
      </tbody>
    </table>

    <div>
      <ul class="pagination pagination-lg mx-auto">
        <li class="page-item" *ngFor="let p of paginas">
          <button class="page-link" (click)="traerItems(p)">{{p+1}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>
